body {
    background-color: #0d0d0d;
}

/* This horror is only temporary, until one of us adds a the theme toggle. */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
a,
.brand-name {
    color: white;
}

.logo {
    filter: brightness(0) invert(1); /* This will make the SVG white */
}

/* Page Layout */
.page-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
    padding-top: 84px; /* Height of header + margin */
}

/* Main Content */
.main-content {
    padding: 0 24px;
    margin-left: 250px; /* Same as side-nav width */
}

#current-section {
    font-family: "Poppins", sans-serif;
    font-size: var(--font--size-large);
    font-weight: 900;
    color: white;
    width: fit-content;
    white-space: nowrap;
    margin-bottom: 24px;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
    padding: 24px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .main-content {
        margin-left: 0;
        padding: 0 16px;
    }
    #current-section {
        font-size: var(--font--size-huge);
    }

    .page-layout {
        grid-template-columns: 1fr;
    }
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    #current-section {
        font-size: var(--font--size-huge);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .games-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 16px;
        padding: 16px;
    }
}
