.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.welcome-container {
  text-align: center;
}

.welcome-container h1 {
  font-size: var(--font--size-huge);
  margin-bottom: 1rem;
}

#user-data {
  font-size: var(--font--size-regular);
  line-height: 1.5;
  color: var(--secondary-text-color);
}

#user-data p {
  margin: 0.5rem 0;
}

.bye {
  font-size: var(--font--size-regular);
  margin-top: 1rem;
  color: #0091ff;
}
